// This converts from ambix to FB360 (Two Big Ears) 2nd Order Ambisonics Format
// See the included Reaper project on how to use this...
//
// This converter matrix has been found by Angelo Farina
// http://pcfarina.eng.unipr.it/TBE-conversion.htm

#GLOBAL
/debug_msg Convert from ambix to Facebook 360 (Two Big Ears) Format (2nd order Ambisonics hemispherical)
/coeff_scale sn3d
/coeff_seq acn
#END

#HRTF
#END

#DECODERMATRIX  // this is the converter matrix
0.486968	0	0	0	0	0	0	0	0
0	-0.486968	0	0	0	0	0	0	0
0	0	0	0.486968	0	0	0	0	0
0	0	0.344747	0	0	0	0.445656	0	0
0	0	0	0	0	0	0	0	-0.630957
0	0	0	0	-0.630957	0	0	0	0
0	0	0	0	0	-0.630957	0	0	0
0	0	0	0	0	0	0	0.630957	0
#END
