% Google VR Audio cube preset for ambiX Binaural Decoder (as used in Youtube)
% This preset is derived from: https://github.com/google/spatial-media/tree/master/spatial-audio
%
%
#GLOBAL
/global_hrtf_gain 1
/coeff_scale sn3d
/coeff_seq acn
#END

#HRTF <filename> <gainfactor> <delay in ms> <swap left right channel>
stereo_bin_dec_0.wav 1 0 0
stereo_bin_dec_1.wav 1 0 0
stereo_bin_dec_2.wav 1 0 0
stereo_bin_dec_3.wav 1 0 0
#END

#DECODERMATRIX
1 0 0 0
0 1 0 0
0 0 1 0
0 0 0 1
#END